$primaryColor: #FFD700;
$primaryDarkColor: #EEDD82;
$primaryLightColor: #FFFF00;
$accentColor: #FFFF00;
$accentDarkColor: #FF4500;
$accentLightColor: #FF4500;
$accentTextColor: #FFFFFF;
$darkMenuBgColor: #0e2031;
$darkMenuHoverColor: #5b6976;

@import '../sass/layout/_layout';