$primaryColor: #FFD700;
$primaryDarkColor: #EEDD82;
$primaryLightColor: #FFFF00;
$accentColor: #FFFF00;
$accentDarkColor: #FF4500;
$accentLightColor: #FF4500;
$accentTextColor: #FFFFFF;

@import '../sass/theme/_theme';